.aboutMe {
  margin-bottom: -200px;
}

.aboutMeLeft {
  display: inline-block;
  margin: 0px;
}

.aboutMeRight {
  display:inline-block;
  margin-top: -9px;
  
}

.aboutMeimg {
  width:400px;
  margin-left: 40px;
  
}

.aboutmep {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  margin-top: -75px;
  margin-left: 40px;

}

.aboutMeButton {
  margin-left: 40px;
  color: #ffffff;
  background-color:#F2CBBD;
  border: 0px;
  padding: 15px 25px 15px 25px;
  font-weight: 800;
  border-radius: 30px;
}

body {
  background-color: white;
  margin: 0;

}

button {
color: #F18157;
background-color: antiquewhite;
border: 0px;
padding: 10px 50px 10px 50px;
font-weight: 800;
border-radius: 30px;
margin-top: 0px;
}



.content {
width: 500px;
margin: auto;
text-align: center;
padding: 125px 19px;
background-color: white;
}

footer {
padding: auto;
background-color: #374245;
font-family: Helvetica, sans-serif;
text-align: left;

}

footer ul{
vertical-align: text-top;
width: auto;

}

footer li, .inline-block li{
  font-weight: bold;
  padding: 0px 10px 10px 0px;
  display: inline-block;
  
}

.footer-text {
  width: 40%;
  display: inline-block;

}

.footer-text-body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  color: #FFFFFF;
  width: 40%;
  margin: 100px;
  display: inline-block;

}
.governmentapp1 {
height: 650px;
margin-top: -100px;


}

header {
  background-color: #373738;
}

.aboutMe {
height: 800px;
padding: 25px;

}

h1 {
font-size: 100px;
font-family: Helvetica, sans-serif;
color: #374245;
display: inline-block;
margin
}

h3 {
color: #F18157;
font-family: Helvetica, sans-serif;
font-size: 15px;
margin-top: -1px

}

h4 {
  color: #374245;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 0px;
  
  }

h5 {
    color: #F2CBBD;
    font-size: 117.5px;
    font-family: Helvetica, sans-serif;
    
    }

h6 {
  color:#F18157;
  font-size: 100px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
 

}



.inline-block,.inline-block li{
display: inline-block;
vertical-align: top;

}


.logo {
width: 300px;
padding: 19px;
float: left;
background-color: #374245;

}

.mySkills {
  height: 700px;

}

.mySkillsLeft{
  width: 40%;
  float: left;

}

.mySkillsRight{
  width: 45%;
 float: right;

}

nav {
padding: 16px;
background-color: #374245;
float: right;
font-family: Helvetica, sans-serif;
}

.navigation {
overflow: hidden;
background-color: #374245;

}

.projects1 {
background-color: #F18157;
color: #FFFFFF;
width: 300px;
height: 300px;
padding: 3px 50px 5px 50px;
text-align: center;
border-radius: 25px;

}

.projects2 {
background-color: #F2CBBD;
color: #FFFFFF;
width: 300px;
height: 300px;
padding: 3px 50px 5px 50px;
text-align: center;
border-radius: 25px;
}

.projects3 {
background-color: #374245;
color: #FFFFFF;
width: 300px;
height: 300px;
padding: 3px 50px 5px 50px;
text-align: center;
border-radius: 25px;

}


.sitemap {
  background-color: #ffffff;
  position: absolute;
  z-index: -1;

}

.skillsHeader {
  display: inline-block;
  margin: 0px;
}

.sherayface {
height: 600px;
border-radius: 40px;
 
}

.skillsp {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  display: inline-block;
  margin: 0px;
  margin-left: 45px; 

}

ul {
margin: 0;
color: white;
}

.works {
height: 500px;
margin-top: -150px;
margin-left: -100px;


}

.works1 {
height: 550px;
width:100%;
align-content: center;
padding: 3px 50px 5px 50px;

}
.workGrid {
display:grid;
height: 400px;
padding: 0px 50px 50px 50px;
margin: 0px;
grid-template-columns: auto auto auto;
align-content: start;
grid-gap: 50px;
background-color: #ffffff;
}




.wireframe-image {
padding: 3px 50px 5px 50px;
background-color: #ffffff;
}




@media only screen and (max-width: 600px) {

  .workGrid {
    display:grid;
    height: 400px;
    padding: 150px 150px 150px 50px;
    margin: 0px;
    grid-template-columns: 1fr;
    align-content: center;
    grid-gap: 100px;
    background-color: #ffffff;
    }

  
}

